<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data view</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"></link>
</head>

<body>

<h2>Data View</h2>

<div th:if="data ne null">
    <table>
        <th><tr>Attribute</tr><tr>Value</tr></th>
        <tr><td>ID</td><td><span th:text="${data.id}">id</span></td></tr>
        <tr><td>Name</td><td><span th:text="${data.name}">name</span></td></tr>
        <tr><td>Location</td><td><span th:text="${data.location}">location</span></td></tr>
    </table>
</div>

<div th:if="data eq null">
    <p>We could not find any Client information for ID:<span th:text="${id}">id</span></p>
</div>

</body>
</html>
